body {
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to bottom, #cfdfe8, #d6eaf8);
      margin: 0;
    }
    .sidebar { 
      width: 240px;
      background-color: #007b83;
      color: white;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 20px 10px;
    }
    .sidebar h5 {
      text-align: center;
    }
    .sidebar small {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
    .sidebar img {
      display: block;
      margin: 0 auto 10px;
      border-radius: 50%;
    }
    .sidebar .flex-column ul {
      list-style: none;
      display: flex;
      flex-direction: column;
        gap: 10px;
      margin: 0;
      padding: 0;
    }
    .sidebar ul li {
        display: inline;
    }
    .sidebar ul li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    .sidebar .flex-column ul li a:hover,
    .sidebar .flex-column ul li a.active {
      background: #005f66;
      
    }
    .logout-btn {
      background-color: #007b83;
      color: white;
      border: none;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      margin-top: 30px;
    }
    .logout-btn:hover {
  opacity: 0.8;
}
    .main {
      margin-left: 260px;
      padding: 30px;
    }
    .card-box {
      border-radius: 10px;
      background: white;
      padding: 20px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      text-align: center;
    }
    .chart-placeholder, .pie-placeholder {
      height: 180px;
      background-color: #ecf0f1;
      border: 2px dashed #bdc3c7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: #7f8c8d;
    }